
html, body {
    min-height: 100%;
    background-color: #EFE0BB;
    color: #010101;
    font-family: 'Roboto', sans-serif;
}

body, ul, ol {
    margin: 0;
}

#user-info {
    position: absolute;
    width: 50%;
    height: 100%;
    left: 25%;
    top: 12%;

    font-size: 70px;
}

#reveille {
    position: absolute;
    width: 10%;
    top: 20%;
    left: 20%;
    font-size: 30px;
}
